<%- include('includes/head.ejs') %>


<div class="row bg-light ">
    <div class="d-block" id="login">
        <div class="col-6 offset-3 mb-2 mt-2" style="color:red"> <%=error%> </div>
        <form class="needs-validation" novalidate id="register-form" action="/password" method="post">
            <div class="col-6 offset-3 mb-2 mt-2">
                <div>
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" class="form-control" name="firstName"
                           placeholder="Please enter your first name here"
                           aria-label="default input example" value="<% if (typeof firstName !== 'undefined') { %><%= firstName %><% } %>">
                    <div class="text-danger mt-2" id="firstNameError"></div>
                    <p style="color:red" class="error firstName-error"></p>
                </div>
            </div>
            <div class="col-6 offset-3 mb-2 mt-2">
                <label>Last Name</label>
                <input class="form-control" type="text" name="lastName" id="lastName"
                       placeholder="Your last name including letters only"
                       aria-label="default input example" value="<% if (typeof lastName !== 'undefined') { %><%= lastName %><% } %>">
                <p style="color:red" class="error lastName-error"></p>
            </div>

            <div class="col-6 offset-3 mb-2 mt-2">
                <label>Email</label>
                <input class="form-control" type="email" name="email" id="email"
                       placeholder="Your email address"
                       aria-label="default input example" value="<% if (typeof email !== 'undefined') { %><%= email %><% }%>">
                <p style="color:red" class="error email-error"></p>
            </div>
            <div class="col-6 offset-3 mb-2 mt-2">
                <button type="submit" class="btn btn-primary">submit</button>
                <div class="text-center">
                    <h6><span>Already have an account?</span>
                        <a href="/login" class="text-decoration-none">Sign-in</a></h6>
                </div>
            </div>
        </form>
    </div>

</div>


</div>

<script src="javascripts/registerForm.js">
<%- include('includes/endPage.ejs') %>





